[build]
  command = "yarn run build"
  publish = "dist/demo/browser"
  functions = "netlify/functions"

# WICHTIG: Nur HTML-Routes prerendern, nicht JS/CSS/etc
[[edge_functions]]
  path = "/*"
  function = "nf-prerender-ext_prerender-middleware"

# Skippe alle Assets
[[headers]]
  for = "/chunk-*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.ico"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[functions."nf-prerender-ext_prerender"]
  external_node_modules = ["cheerio", "puppeteer-core"]
  timeout = 30
