<main class="main-content bg-secondary dark:bg-dark-secondary text-primary dark:text-white min-h-screen py-12">
  <div class="container mx-auto px-4 max-w-3xl">
    <h1 class="text-4xl font-bold mb-8">{{ 'legal.impressum.title' | translate }}</h1>

    <section class="space-y-6">
      <div>
        <h2 class="text-2xl font-bold mb-4">{{ 'legal.impressum.representation' | translate }}</h2>
        <p class="mb-2">Nürnberg Renegades e.V.</p>
        <p>Bartholomäusstr. 26c</p>
        <p>90489 Nürnberg</p>
      </div>

      <div>
        <h2 class="text-2xl font-bold mb-4">{{ 'legal.impressum.contact' | translate }}</h2>
        <p>Email: info&#64;nuernberg-renegades.de</p>
      </div>

      <div>
        <h2 class="text-2xl font-bold mb-4">{{ 'legal.impressum.register' | translate }}</h2>
        <p>{{ 'legal.impressum.register_info' | translate }}</p>
        <p>{{ 'legal.impressum.register_number' | translate }}: VR 202816</p>
      </div>

      <div>
        <h2 class="text-2xl font-bold mb-4">{{ 'legal.impressum.responsible' | translate }}</h2>
        <p>{{ 'legal.impressum.responsible_content' | translate }}:</p>
        <p>Andreas Scherm</p>
      </div>

      <div>
        <h2 class="text-2xl font-bold mb-4">{{ 'legal.impressum.responsible_privacy' | translate }}</h2>
        <p>it&#64;nuernberg-renegades.de</p>
      </div>

      <div>
        <h2 class="text-2xl font-bold mb-4">{{ 'legal.impressum.responsible_webpage' | translate }}</h2>
        <p>{{ 'legal.impressum.technical_contact' | translate }}</p>
        <p>{{ 'legal.impressum.technical_email' | translate }}</p>
      </div>
    </section>
  </div>
</main>